@charset "utf-8";

main {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background-color: antiquewhite;
    text-align: center;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    padding-bottom: 2px;
    padding-top: 2px;
}

body {
    background-image: linear-gradient(45deg,blue,red);
    background-image: url('imagens/xbox.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

